
.gradle/
.idea/inspectionProfiles/
.idea/libraries/
.idea/vcs.xml
.idea/workspace.xml
ProjectDemo.iml
app/.DS_Store
app/app.iml
app/src/androidTest/
app/src/main/res/mipmap-xhdpi/.DS_Store
build/
local.properties
.DS_Store
