*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/build/
/.idea/
/app/src/androidTest/
.idea/vcs.xml
app/src/androidTest/
/app/app.iml
